<div class="modal-header">
  <div (click)="dismiss()">&times;</div>
</div>
<div class="modal-body">
  <div class="content">
    <div class="content-icon">
      <i class="iconlace iconlace-user"></i>
    </div>
    <div class="content-title">¡Bienvenido!</div>
    <div class="content-subtitle">
      Disfruta de todos tus contenidos preferidos donde y cuando quieras.
    </div>
    <div class="content-buttons">
      <button type="button" class="btn btn-primary" (click)="redirectToLogin()">
        INGRESAR
      </button>
    </div>
    <div class="content-register-now">
      <div class="sign-up">¿No tienes cuenta?</div>
      <div class="action-text">Regístrate ahora</div>
    </div>
  </div>
</div>
