<div id="loading" style="z-index: 9999999" *ngIf="isLoading$ | async">
  <div class="loading">
    <div class="sk-cube-grid">
      <div class="sk-cube cubeGridScaleDelay sk-cube1"></div>
      <div class="sk-cube cubeGridScaleDelay sk-cube2"></div>
      <div class="sk-cube cubeGridScaleDelay sk-cube3"></div>
      <div class="sk-cube cubeGridScaleDelay sk-cube4"></div>
      <div class="sk-cube cubeGridScaleDelay sk-cube5"></div>
      <div class="sk-cube cubeGridScaleDelay sk-cube6"></div>
      <div class="sk-cube cubeGridScaleDelay sk-cube7"></div>
      <div class="sk-cube cubeGridScaleDelay sk-cube8"></div>
      <div class="sk-cube cubeGridScaleDelay sk-cube9"></div>
    </div>
    <p>Cargando</p>
  </div>
</div>
