@use "../abstracts/mixins";

body {
  color: var(--white);
  @include scroll(
    $size: 8px,
    $borderRadiusThumb: var(--border-radius-6)
  );
  &.login-body, &.subscription-body {
    @include background-image("/assets/images/bg/bg-login.png");
    background-attachment: fixed;
  }
  &.faq-body {
    @include background-image("/assets/images/bg/bg-faq.jpg");
    background-attachment: fixed;
  }
}

@media only screen and (max-width: 1280px) {
  body {
    &.subscription-body {
      @include background-image("/assets/images/bg/bg-login-mobile.png");
    }
  }
}

@media only screen and (max-width: 1024px) {
  body {
    &.login-body {
      @include background-image("/assets/images/bg/bg-login-mobile.png");
    }
  }
}
