.dark-modal {
  background: 0 5px 15px rgba(var(--black-rgb), .5);
  .modal-header {
    justify-content: flex-end;
    padding-top: 0px;
    padding-bottom: 0px;
    border-bottom: none;
    div {
      display: inline-block;
      font-size: var(--f-32);
      font-weight: 100;
      color: var(--white);
      cursor: pointer;
    }
    .btn-close {
      background: none;
      &:focus {
        box-shadow: none;
      }
    }
  }
  .modal-body {
    padding: 10px 60px;
  }
  .modal-content {
    width: 500px;
    background-color: var(--space-cadet);
    color: var(--white);
    border-radius: var(--border-radius-10);
    box-shadow: 0 5px 15px rgba(var(--black-rgb), .5);
  }
  .modal-footer {
    border-top: none;
  }
  &.privacy-policy-modal {
    .modal-content {
      width: auto;
      background-color: var(--neutro);
    }
  }
  &.login-modal {
    .modal-content {
      @include background-image("/assets/images/bg/bg-new-login.png");
    }
  }
  &.faq-modal {
    .modal-content {
      @include background-image("/assets/images/bg/bg-faq.jpg");
    }
  }
}

.modal-backdrop {
  --bs-backdrop-opacity: 0.7;
}

.light-black-backdrop {
  background-color: var(--black);
}

.modal {
  @include scroll(
    $size: 8px,
    $borderRadiusThumb: var(--border-radius-6)
  );
}

@media screen and (max-width: 767px) {
  .dark-modal {
    .modal-content {
      width: 100%;
    }
    .modal-body {
      padding: 10px 22px;
    }
  }
}
