:root {
  --lato-font: 'Lato', Helvetica, Arial, sans-serif;
  --panton-font: 'Panton', Helvetica, Arial, sans-serif;
  --f-8: 8px;
  --f-10: 10px;
  --f-12: 12px;
  --f-14: 14px;
  --f-16: 16px;
  --f-18: 18px;
  --f-20: 20px;
  --f-22: 22px;
  --f-24: 24px;
  --f-25: 25px;
  --f-26: 26px;
  --f-28: 28px;
  --f-30: 30px;
  --f-32: 32px;
  --f-34: 34px;
  --f-35: 35px;
  --f-36: 36px;
  --f-38: 38px;
  --f-45: 45px;
  --f-50: 50px;
  --border-radius-0: 0px;
  --border-radius-2: 2px;
  --border-radius-3: 3px;
  --border-radius-4: 4px;
  --border-radius-5: 5px;
  --border-radius-6: 6px;
  --border-radius-8: 8px;
  --border-radius-10: 10px;
  --border-radius-12: 12px;
  --border-radius-14: 14px;
  --border-radius-16: 16px;
  --border-radius-18: 18px;
  --border-radius-20: 20px;
  --border-radius-25: 25px;
  --border-circle: 50%;
}
