<section class="slider-container mt-4 mb-5">
  <div class="slider-header">
    <h2 class="slider-title">
      {{ catalog.name }}
      <span class="see-all">
        Ver todo
        <i class="iconlace iconlace-chevron-next"></i>
      </span>
    </h2>
    <div class="slider-types"></div>
  </div>
  <swiper-container appSwiperCustom [config]="config" init="false" class="slider" #slider>
    <swiper-slide *ngFor="let item of catalog.contentCatalogViewModels" class="{{ catalog.defaultContentType }}">
      <app-podcast-card *ngIf="isPodcast" [item]="item"></app-podcast-card>
      <app-video-card *ngIf="isProgramOrVideo" [item]="item"></app-video-card>
      <app-audiobook-card *ngIf="isAudiobook" [item]="item"></app-audiobook-card>
      <app-ebook-card *ngIf="isEbook" [item]="item"></app-ebook-card>
      <app-ebook-card *ngIf="isArticle" [item]="item"></app-ebook-card>
    </swiper-slide>
  </swiper-container>
</section>
