@import "abstracts/mixins";

.avatar {
  @include flex(center, center);
  height: 44px;
  cursor: pointer;
  &-label {
    @include flex(center, center);
    position: relative;
    min-width: 44px;
    width: 44px;
    height: 44px;
    border: 1px solid var(--purple-2);
    border-radius: var(--border-radius-25);
    cursor: pointer;
    input {
      display: none;
    }
    &.not-image {
      &::after {
        content: "+";
        @include flex(center, center);
        position: absolute;
        top: 28px;
        right: 0;
        width: 15px;
        height: 15px;
        font-size: var(--f-12);
        padding-left: 1px;
        background-color: var(--purple-2);
        border-radius: var(--border-radius-25);
        font-weight: 900;
      }
    }
  }
  &-placeholder {
    @include font($size: var(--f-14), $line-height: 14px);
    margin-left: 15px;
    cursor: pointer;
  }
  &-icon {
    font-size: var(--f-20);
  }
  img {
    max-width: 100%;
    border-radius: var(--border-radius-25);
  }
}

.cropper-container {
  @include flex(center, center);
  height: 100%;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000000;
  background-color: rgba(var(--black-rgb), 0.5);
  .cropper {
    height: 50vh;
    max-width: 50rem;
    width: 90%;
    image-cropper {
      border-radius: 10px;
    }
  }
  .buttons-section {
    text-align: center;
    margin-top: 15px;
    @media (max-width: 460px) {
      @include flex();
      button.btn {
        margin-inline: 5px;
      }
    }
    button {
      color: var(--white);
      background-color: var(--ucla-blue);
      margin-inline: 10px;
    }
  }
}

.hide {
  display: none;
}
