<div class="container-faq">
  <div class="content-container">
    <h1 class="content-title mt-5">Políticas de privacidad</h1>
    <p class="content-paragraph mt-5">
      Gracias por elegir ser parte de nuestra comunidad en Enlace+ (en adelante,
      "nosotros" o "nuestro"). Nosotros tomamos su privacidad con mucha
      seriedad. La presente Política de Privacidad explica cuál información
      recabamos mediante nuestra página web en www.enlace.plus y la aplicación
      móvil Enlace Plus y cómo la utilizamos. Si usted está en desacuerdo con
      cualquiera de las provisiones de esta política, por favor discontinúe el
      uso de nuestra página web o proceda bajo el entendimiento que el uso de
      esta por parte suya continúa sujeto a los términos de dicha política.
    </p>
    <h2 class="content-subtitle">LICENCIA PARA ACCEDER A LA PÁGINA.</h2>
    <p class="content-paragraph">
      Siempre y cuando usted cumpla plenamente con estos Términos de Uso, Enlace
      le concede a usted una licencia limitada, no exclusiva, no transferible
      para acceder y utilizar la página web de manera personal y no comercial y
      ver su contenido. Dicha licencia no lo autoriza a usted a hacer uso
      comercial de la página web ni ninguna parte de su contenido. Tampoco podrá
      copiar, duplicar, distribuir, modificar ni vender ninguna parte de su
      contenido por ninguna razón. Enlace y/o sus proveedores de contenido se
      reservan y retienen todos los derechos que no se le hayan concedido
      expresamente a usted en estos Términos de Uso. Esta licencia quedará
      automáticamente anulada si usted no cumple a cabalidad con estos Términos
      de Uso.
    </p>
    <h2 class="content-subtitle">INFORMACIÓN QUE RECABAMOS</h2>
    <p class="content-paragraph">
      <li>
        NOSOTROS RECABAMOS INFORMACIÓN QUE USTED NOS PROVEE. Nosotros recabamos
        la información que usted nos brinda voluntariamente. Por ejemplo, si
        usted nos la envía por teléfono, correo electrónico o compartida en
        línea, nosotros mantendremos tal como su nombre, nombre de usuario,
        dirección, información de contacto, información de acceso, contraseñas,
        e información de pagos.
      </li>
    </p>
    <p class="content-paragraph">
      <li>
        NOSOTROS RASTREAMOS EL USO QUE USTED LE DA A NUESTRA PÁGINA WEB. Si
        usted crea un perfil de usuario y se conecta a nuestra página web,
        nosotros mantendremos la información sobre cómo usted utiliza nuestra
        página web. Por ejemplo, queremos saber cuáles vídeos ve usted, cuáles
        autores o conferencistas le interesan, si acaso usted solicita oración o
        responde a peticiones de oración, y qué tipo de productos usted nos
        compra.
      </li>
    </p>
    <p class="content-paragraph">
      <li>
        NOSOTROS RECABAMOS CIERTA INFORMACIÓN, AUNQUE USTED NO ACCEDA A LA
        PÁGINA. Nuestros sistemas de cómputo recaban cierta información
        automáticamente cuando usted visita nuestra página web. Dicha
        información no revela su nombre ni su información directa de contacto.
        La misma puede incluir información no reveladora de identidad, tal como
        su dirección IP, sistema operativo, URLs referidos, nombre del
        dispositivo, país, locación y otra información técnica. Tal información
        se obtiene primordialmente con fines de seguridad, para facilitar la
        operación de la página web, y para que nosotros podamos entender los
        patrones de utilización.
      </li>
    </p>
    <h2 class="content-subtitle">NUESTRO USO DE “COOKIES”</h2>
    <p class="content-paragraph">
      Al igual que muchas páginas web, nosotros recabamos información mediante
      “cookies” y tecnologías similares. Los “cookies” son identificadores
      singulares asignados a su dispositivo, los cuales le permiten a nuestro
      sistema reconocer su dispositivo. Esta habilidad nos ayuda a entender las
      interacciones suyas con la página web, recomendarle contenido
      especialmente diseñado para usted, y guardar artículos en su coche de
      compras entre sus visitas a la página web. La mayoría de los buscadores y
      teléfonos celulares y tabletas le permiten a usted inhabilitar los
      “cookies” si así lo desea. Revise las preferencias de su buscador y/o la
      carpeta de ajustes en su dispositivo personal para obtener más
      información.
    </p>
    <h2 class="content-subtitle">CÓMO UTILIZAMOS SU INFORMACIÓN</h2>
    <p class="content-paragraph">
      Tal como lo explicamos anteriormente, nosotros recabamos información
      acerca de su uso de la página web para que podamos entender cuál contenido
      disfruta usted más y para que podamos sugerir contenido y productos que le
      puedan interesar a usted. También utilizamos la información recabada por
      nuestra página web para cumplir y gestionar las compras que usted realice
      desde nuestra página web, para hacer valer nuestros términos y
      condiciones, y para que podamos enviarle a usted ofertas de libros
      religiosos, vídeos y eventos.
    </p>
    <h2 class="content-subtitle">
      CUÁNDO COMPARTIMOS SU INFORMACIÓN CON OTROS
    </h2>
    <p class="content-paragraph me-auto">
      Nosotros solamente compartimos y divulgamos la información suya en las
      siguientes situaciones:
    </p>
    <p class="content-paragraph me-auto">
      <li>
        Con su consentimiento. Podemos divulgar la información personal suya
        para cualquier propósito que usted autorice.
      </li>
    </p>
    <p class="content-paragraph">
      <li>
        Para cumplir con la ley. Podemos divulgar la información suya cuando la
        ley nos requiera hacerlo, para cumplir con las leyes aplicables,
        solicitudes gubernamentales, un procedimiento judicial, una orden
        judicial o proceso legal, como en el caso de responder a una orden
        judicial o citación.
      </li>
    </p>
    <p class="content-paragraph">
      <li>
        Para proteger nuestros derechos legales. Podemos divulgar la información
        suya cuando consideremos que sea necesario para investigar, prevenir o
        tomar alguna acción en cuanto a violaciones potenciales a nuestras
        políticas, ante sospecha de fraude, en situaciones que impliquen
        amenazas potenciales a la seguridad de cualquier persona y ante
        actividades ilegales, o como evidencia en un litigio en el cual nos
        veamos involucrados.
      </li>
    </p>
    <h2 class="content-subtitle">CUÁNTO TIEMPO RETENEMOS SU INFORMACIÓN</h2>
    <p class="content-paragraph">
      Nosotros podemos retener la información suya por el tiempo que usted
      continúe visitando la página web y también por un tiempo mayor si lo
      consideramos necesario para el cumplimiento de los propósitos de nuestro
      negocio. Sin embargo, nosotros descartaremos la información suya si usted
      lo solicita y si la ley nos exige hacerlo.
    </p>
    <h2 class="content-subtitle">CÓMO MANTENEMOS SU INFORMACIÓN SEGURA</h2>
    <p class="content-paragraph">
      Entendemos la importancia que usted le da a su información personal.
      Nosotros nos esforzamos por proteger la información suya durante la
      transmisión, utilizando el programa Secure Sockets Layer (SSL), el cual
      cifra la información que usted ingrese. Además, nosotros revelamos solo
      los últimos cuatro dígitos de los números de su tarjeta de crédito al
      confirmar una orden a entidades distintas a la compañía de la tarjeta de
      crédito mediate la cual se está procesando la orden. Aún así, nadie puede
      garantizar la seguridad de la información en el Internet. Aunque nosotros
      cumpliremos con nuestros deberes legales con respecto a la protección de
      su información personal, la transmisión de información personal desde y
      hacia nuestra página web es bajo su propio riesgo. Usted solamente debe
      transmitir información a nuestra página web dentro de un ambiente seguro,
      y debe usted tomar sus propias medidas para protegerse del acceso no
      autorizado a su contraseña y a su computador.
    </p>
    <h2 class="content-subtitle">INFORMACIÓN RECABADA DE MENORES DE EDAD</h2>
    <p class="content-paragraph">
      Nosotros no recabamos datos conscientemente de, ni mercadeamos a niños
      menores de 13 años de edad; tampoco solicitamos datos conscientemente de,
      ni mercadeamos a niños menores de 13 años de edad. Al usar la página web,
      usted declara que tiene al menos 13 años de edad. Si nos percatamos de que
      se hubiera recabado información personal de usuarios menores de 13 años de
      edad, sin el consentimiento del padre o tutor legal de dicho menor de
      edad, desactivaremos la cuenta y tomaremos las medidas razonables para
      borrar con prontitud tales datos de nuestros archivos. Si usted se entera
      de alguna información que hayamos recabado de usuarios menores de 13 años
      de edad, por favor contáctenos a soporte@enlace.plus.
    </p>
    <h2 class="content-subtitle">SUS DERECHOS</h2>
    <p class="content-paragraph">
      Usted puede revisar, cambiar o suspender su cuenta en cualquier momento; y
      puede usted elegir no proveer información, aunque ésta podría ser
      necesaria para realizar una compra o aprovechar las herramientas de la
      página web. Si usted no desea recibir correos u otra comunicación
      electrónica de parte nuestra, visite la sección de Notificaciones bajo
      Configuración en su perfil de usuario envíenos un correo solicitándolo
      para revocar nosotros su consentimiento a recibir tales comunicados. Si
      desea usted inhabilitar los “cookies”, usted puede inhabilitarlos desde su
      buscador o directamente desde su dispositivo móvil.
    </p>
    <p class="content-paragraph">
      En conformidad con el Reglamento General de Protección de Datos (GDPR por
      sus siglas en inglés), cualquier usuario que desee que su información sea
      eliminada de nuestra base de datos puede solicitarlo escribiendo a
      soporte@enlace.plus con el correo electrónico asociado a dicha cuenta.
    </p>
    <p class="content-paragraph">
      Si usted es un residente de la Unión Europea, usted tiene el derecho a
      corregir los datos personales que tenemos en nuestro poder acerca de usted
      o solicitarnos que lo borremos, tiene usted el derecho a proveer o retener
      su consentimiento antes de que utilicemos sus datos personales para un
      propósito diferente al propósito para el cual usted los proveyó.
    </p>
    <h2 class="content-subtitle">CONTÁCTENOS</h2>
    <p class="content-paragraph">
      Si tiene usted alguna pregunta o inquietud acerca de nuestra política o
      nuestras prácticas con respecto a su información personal, por favor
      contáctenos a soporte@enlace.plus.
    </p>
  </div>
</div>
