@import "abstracts/mixins";
@import "partials/buttons";

.hero-swiper {
  --swiper-navigation-color: var(--white);
  --swiper-navigation-size: var(--f-22);
  width: 100%;
  height: 75vh;
  max-height: 720px;
  overflow: hidden;
  position: relative;
  // &::before {
  //   content: "";
  //   width: 100%;
  //   height: 200px;
  //   position: absolute;
  //   left: 0;
  //   bottom: -1px;
  //   z-index: 10;
  //   background: linear-gradient(
  //     to bottom,
  //     rgba(var(--smoky-black-rgb), 0) 0,
  //     var(--rich-black) 100%
  //   );
  // }
}

.hero-img {
  width: 100%;
  object-fit: cover;
}

.hero-container {
  position: relative;
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 50px;
  overflow: hidden;
  .swiper-button-container {
    @include animate(background, 0.3s, ease-in-out);
    position: absolute;
    height: 100%;
    top: 50%;
    width: 44px;
    transform: translateY(-50%);
    font-size: var(--f-22);
    color: var(--white);
    z-index: 1;
    &.button-left {
      left: 0;
      &:hover {
        background: linear-gradient(
          to left,
          rgba(var(--smoky-black-rgb), 0) 0%,
          var(--smoky-black) 100%
        );
      }
    }
    &.button-right {
      right: 0;
      &:hover {
        background: linear-gradient(
          to right,
          rgba(var(--smoky-black-rgb), 0) 0%,
          var(--smoky-black) 100%
        );
      }
    }
  }
}

.content-hero {
  position: absolute;
  top: 0;
  bottom: 0;
  height: 75vh;
  width: 60%;
  padding: 60px 70px;
  .hero-title {
    font-family: var(--panton-font);
    font-size: var(--f-50);
    margin: 5px 0 10px;
  }
  .hero-subtitle {
    font-size: var(--f-38);
    text-shadow: 0 2px 7px var(--dark-charcoal);
    margin: 5px 0;
  }
  .hero-description {
    font-size: var(--f-24);
    font-weight: 300;
    text-shadow: 0 4px 5px var(--dark-charcoal);
    margin: 5px 0;
  }
  .hero-button {
    @include btn-main($height: 40px, $width: auto, $background: var(--purple));
    @include animate(padding-right, 0.2s, ease-in-out);
    margin-top: 20px;
    letter-spacing: 1pt;
    padding: 0 40px 0 20px;
    box-shadow: 0 5px 5px 0px rgba(var(--black-rgb), 0.5);
    text-transform: uppercase;
    position: relative;
    &:hover {
      padding-right: 50px;
      width: auto;
      background-color: var(--purple-2);
    }
    .iconlace {
      position: absolute;
      top: 12px;
      right: 15px;
    }
  }
}

.TextAllignToRight {
  @include flex(center, flex-start, column);
  text-align: left;
  right: -1.8%;
}

.TextAllignToLeft {
  @include flex(center, flex-start, column);
  text-align: left;
  left: 20.8%;
}

.TextAllignToCenter {
  @include flex(center, center, column);
  width: 100%;
}

@media screen and (max-width: 1024px) {
  .hero-swiper {
    height: 100vh;
    &::before {
      height: 100px;
    }
  }
  .content-hero {
    .hero-title {
      font-size: var(--f-28);
    }
    .hero-subtitle {
      font-size: var(--f-18);
    }
    .hero-description {
      font-size: var(--f-16);
    }
  }
  .hero-img {
    height: 100vh;
    object-position: 70% 50%;
  }
  .TextAllignToLeft {
    left: 0;
  }
  .content-hero {
    width: 100%;
    padding: 60px 35px;
    height: 84%;
    top: auto;
    justify-content: center;
  }
  .TextAllignToCenter {
    .hero-title {
      text-align: center;
    }
  }
}
