<section class="hero-container">
  <swiper-container appSwiperCustom [config]="config" init="false" class="hero-swiper" #heroSwiper>
    <swiper-slide *ngFor="let hero of (heros$ | async)">
      <ng-container *ngTemplateOutlet="heroContent; context: { hero: hero }"></ng-container>
      <img class="hero-img" [src]="hero?.backgroundImage?.url || imageDefault" [alt]="hero.title" [title]="hero.title" priority>
    </swiper-slide>
  </swiper-container>
  <button class="swiper-button-container button-right" (click)="next()">
    <i class="iconlace iconlace-chevron-next"></i>
  </button>
  <button class="swiper-button-container button-left" (click)="previous()">
    <i class="iconlace iconlace-chevron-previous"></i>
  </button>
</section>

<ng-template #heroContent let-hero="hero">
  <div class="content-hero bounceInLeft {{ hero?.heroType?.name }}">
    <h1 class="hero-title">{{ hero?.title }}</h1>
    <h2 class="hero-subtitle" *ngIf="hero?.subtitle">{{ hero.subtitle }}</h2>
    <p class="hero-description" *ngIf="hero?.shortDescription">{{ hero.shortDescription }}</p>
    <button type="button" class="btn btn-primary hero-button">
      {{ hero.buttonTitle }}
      <i class="iconlace iconlace-play"></i>
    </button>
  </div>
</ng-template>
