@import "abstracts/mixins";
@import "partials/buttons";

.modal-body {
  padding: 10px;
}

.btn-primary {
  @include btn-main($width: 172px);
  @include flex(center, center);
  margin: 10px auto;
  letter-spacing: 0.8px;
  text-transform: uppercase;
}
