@import "abstracts/mixins";

:host {
  .cont-base {
    width: 100%;
    background-color: transparent;
    color: var(--white);
    border: 1px solid var(--purple-2);
    border-radius: 4px;
    font-weight: 300;
    cursor: pointer;
    .select {
      &-wrapper {
        @include flex(space-around);
        position: relative;
        height: 38px;
        padding: 0 12px;
        background-color: var(--transparent);
        border-top-left-radius: var(--border-radius-12);
        border-top-right-radius: var(--border-radius-12);
      }
      &-header {
        @include flex(space-between, center);
        width: 100%;
        i {
          font-size: var(--f-12);
          color: var(--purple-2);
        }
      }
      &-body {
        position: absolute;
        width: 100%;
        padding: 10px 0px;
        top: 45px;
        left: 0px;
        z-index: 101;
        border: 1px solid var(--purple-2);
        background-color: var(--space-cadet);
        &-top {
          transform: translateY(-122%);
        }
      }
      &-option {
        @include flex($direction: column);
        @include scroll($bgThumb: var(--purple-navy-rgb), $opacity: 1);
        max-height: 150px;
        overflow-x: hidden;
        overflow-y: auto;
      }
      &-item {
        @include flex($alignItems: center);
        padding: 5px 0;
        margin-bottom: 5px;
        cursor: pointer;
        &:hover {
          background-color: var(--purple-2);
        }
        &.active {
          background-color: var(--purple-2);
        }
        span {
          padding-left: 10px;
        }
      }
      &-search {
        padding: 0 10px;
      }
    }
  }

  .overlay {
    @include animate($time: 300s, $velocity: ease-in);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(var(--black-rgb), 0.5);
    transition: 300s ease-in;
    opacity: 0;
    visibility: hidden;
    display: none;
  }

  @media only screen and (max-width: 1024px) {
    .cont-base {
      .select {
        &-body {
          width: 98%;
          position: fixed;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          border-radius: var(--border-radius-12);
        }
      }
    }
    .overlay {
      &.active {
        opacity: 1;
        visibility: visible;
        @include flex(center, center);
      }
    }
  }
}

:host(.ng-invalid.ng-touched) {
  .cont-base {
    border: 1px solid var(--orange);
    .select {
      &-header {
        i {
          color: var(--orange);
        }
      }
    }
  }
}

:host(.transaction-dropdown) {
  .cont-base {
    border: 1px solid var(--lila-2);
    background-color: var(--space-cadet);
    .select {
      &-header {
        i {
          color: var(--lila-2);
        }
      }
      &-body {
        border: 1px solid var(--lila-2);
      }
      &-item {
        &:hover {
          background-color: var(--lila-2);
        }
        &.active {
          background-color: var(--lila-2);
        }
      }
    }
  }
}

:host(.subscription-dropdown) {
  .cont-base {
    border: 1px solid var(--yellow);
    .select {
      &-header {
        i {
          color: var(--yellow);
        }
      }
      &-body {
        border: 1px solid var(--yellow);
      }
      &-item {
        &:hover {
          background-color: var(--yellow);
        }
        &.active {
          background-color: var(--yellow);
        }
      }
    }
  }
}

:host(.configuration-dropdown) {
  .cont-base {
    border: 1px solid var(--purple-navy);
    background-color: rgba(var(--rich-black-rgb), 0.5);
    .select {
      &-header {
        i {
          color: var(--white);
        }
      }
      &-body {
        border: 1px solid var(--purple-navy);
      }
      &-item {
        &:hover {
          background-color: var(--purple-navy);
        }
        &.active {
          background-color: var(--purple-navy);
        }
      }
    }
  }
}

:host(.configuration-edit-dropdown) {
  .cont-base {
    border: 1px solid var(--purple-navy);
    background-color: var(--space-cadet);
    .select {
      &-header {
        i {
          color: var(--white);
        }
      }
      &-body {
        border: 1px solid var(--purple-navy);
      }
      &-item {
        &:hover {
          background-color: var(--purple-navy);
        }
        &.active {
          background-color: var(--purple-navy);
        }
      }
    }
  }
}

:host(.ppv-dropdown) {
  .cont-base {
    border: 1px solid var(--ucla-blue);
    background-color: rgba($color: var(--neutro), $alpha: 5.0);
    .select {
      &-header {
        i {
          color: var(--white);
        }
      }
      &-body {
        border: 1px solid var(--ucla-blue);
      }
      &-item {
        &:hover {
          background-color: var(--ucla-blue);
        }
        &.active {
          background-color: var(--ucla-blue);
        }
      }
    }
  }
}

:host(.donations-dropdown) {
  .cont-base {
    border: 1px solid var(--lila-2);
    background-color: var(--white);
    color: var(--space-cadet);
    .select {
      &-header {
        i {
          color: var(--lila-2);
        }
      }
      &-body {
        border: 1px solid var(--lila-2);
        background-color: var(--white);
        color: var(--space-cadet);
      }
      &-item {
        &:hover {
          background-color: var(--lila-2);
          color: var(--white);
        }
        &.active {
          background-color: var(--lila-2);
          color: var(--white);
        }
      }
    }
  }
}

:host(.bible-dropdown) {
  .cont-base {
    border: 1px solid var(--ucla-blue);
    background-color: var(--white);
    color: var(--neutro);
    .select {
      &-header {
        i {
          color: var(--ucla-blue);
        }
      }
      &-body {
        border: 1px solid var(--ucla-blue);
        background-color: var(--anti-flash-white);
        color: var(--neutro);
      }
      &-item {
        &:hover {
          background-color: var(--ucla-blue);
          color: var(--white);
        }
        &.active {
          background-color: var(--anti-flash-white);
          border-left: 4px solid var(--yellow);
          color: var(--neutro);
          font-weight: bolder;
        }
      }
    }
  }
}
