@import "abstracts/mixins";

.body-subscription {
  @include flex($direction: column);
  color: var(--white);
  &-title {
    @include font($size: var(--f-24), $line-height: 29px, $weight: 900,  $text-transform: uppercase);
    padding-bottom: 5px;
    &.my-subscription {
      border-bottom: 2px solid var(--yellow);
    }
    &.subscription-modal {
      border-bottom: 2px solid var(--purple);
    }
  }
  &-radios {
    width: 100%;
    @include flex(space-between, center);
    img {
      height: 24px;
    }
  }
}
