<div class="container-faq">
  <div class="content-container">
    <h1 class="content-title mt-5">Términos de Uso</h1>
    <p class="content-paragraph mt-5">
      Bienvenido a www.enlace.plus (en adelante, “la página”), un servicio de
      Enlace Christian Television y sus organizaciones afiliadas en toda América
      Latina (conjuntamente, "Enlace" o "nosotros"). En esta página web usted
      encontrará una amplia variedad de contenido cristiano, incluyendo
      programación religiosa, vídeos, audios, artículos, blogs, oportunidades de
      oración, información de ministerios y eventos y demás recursos digitales.
    </p>
    <p class="content-paragraph">
      Los siguientes términos y condiciones se aplican a todo acceso y uso de
      esta página y su contenido por parte de cualquier usuario, matriculado o
      visitante (en adelante, "usted"). Al utilizar este sitio, usted manifiesta
      estar de acuerdo con estos Términos de Uso. Si usted está en desacuerdo
      con cualquiera de estos términos, no utilice la página ni acceda a ninguna
      parte del contenido de esta.
    </p>
    <h2 class="content-subtitle">LÍMITE DE EDAD.</h2>
    <p class="content-paragraph me-auto">
      Sólo personas que han cumplido 13 años en el año calendario anterior
      pueden loguearse al sitio o postear contenido al mismo.
    </p>
    <h2 class="content-subtitle">LICENCIAS PARA ACCEDER A LA PÁGINA.</h2>
    <p class="content-paragraph">
      Siempre y cuando usted sea mayor de 13 años y cumpla plenamente con estos
      Términos de Uso, Enlace le concede a usted una licencia limitada, no
      exclusiva, no transferible para acceder y utilizar la página web de manera
      personal y no comercial y ver su contenido. Dicha licencia no lo autoriza
      a usted a hacer uso comercial de la página web ni ninguna parte de su
      contenido. Tampoco podrá copiar, duplicar, distribuir, modificar ni vender
      ninguna parte de su contenido por ninguna razón. Enlace y/o sus
      proveedores de contenido se reservan y retienen todos los derechos que no
      se le hayan concedido expresamente a usted en estos Términos de Uso. Esta
      licencia quedará automáticamente anulada si usted no cumple a cabalidad
      con estos Términos de Uso.
    </p>
    <p class="content-paragraph">
      Al comprar o alquilar un contenido de esta página, usted está aceptando
      que dicha compra o alquiler le da una licencia limitada y no transferible
      para consumir el contenido desde la página. No debe permitir a otra
      persona, excepto a un miembro de su propio hogar a consumir el contenido.
      No puede convertir el libro digital a ningún otro formato, por ejemplo,
      imprimirlo, tomarle fotos, convertirlo en PDF o enviarlo por correo
      electrónico. También, no puede hacer uso de ningún libro digital en
      violación de los derechos de autor y otros derechos de propiedad
      intelectual del autor o dueño de los derechos del libro.
    </p>
    <h2 class="content-subtitle">REVOCACIÓN DE LICENCIA PARA ACCEDER.</h2>
    <p class="content-paragraph">
      No obstante lo anterior, nos reservamos la discreción y derecho total de
      negar, revocar o limitar el uso de esta página web, incluyendo el uso de
      cualquier parte de su contenido, en cualquier momento y por cualquier
      motivo. También nos reservamos el derecho de dar por finalizada cualquier
      cuenta o retirar o rehusar el permiso de publicar contenido en cualquier
      momento y bajo nuestra sola discreción. Además, sus derechos de acceso y
      uso del contenido cesarán automáticamente y sin previo aviso si usted no
      cumple con cualquier provisión en estos Términos de Uso.
    </p>
    <p class="content-paragraph">
      Con respecto a los contenidos alquilados de la página, su licencia para
      accederlos se termina una vez se finaliza el periodo de alquiler como
      descrito en la página al realizar el alquiler del contenido.
    </p>
    <h2 class="content-subtitle">DEVOLUCIONES.</h2>
    <p class="content-paragraph me-auto">
      Todas las compras y alquileres de la página son no retornables ni aplican
      para devoluciones.
    </p>
    <h2 class="content-subtitle">
      CONSENTIMIENTO DE COMUNICACIÓN ELECTRÓNICA.
    </h2>
    <p class="content-paragraph">
      Al transmitir o descargar algún contenido de la página, publicar un
      mensaje u otro contenido en la página, o comprar contenido o productos de
      la página, usted otorga su consentimiento para recibir comunicaciones
      electrónicas de Enlace. Tales comunicaciones pueden ser en forma de
      correos electrónicos, textos, avisos móviles de empuje, o avisos y
      mensajes en esta página web. Para revocar su consentimiento a recibir
      comunicaciones electrónicas de parte nuestra, envíe un correo a
      soporte@enlace.plus. PROPIEDAD DE PÁGINA WEB Y MATERIALES. Esta página web
      y todo su contenido, incluyendo sin limitación, programación religiosa,
      vídeos, audios, artículos, blogs, oportunidades de oración, información de
      ministerios y eventos, demásrecursos digitales, y cualesquiera trabajos
      derivados o mejoras a los mismos, son propiedad nuestra y/o de los
      individuos y entidades que nos hayan concedido licencias para dichos
      materiales a nosotros. Usted no obtiene derecho alguno de propiedad o
      control sobre la página ni ninguna parte de su contenido, en absoluto,
      aunque usted se haya inscrito para acceder a los materiales.
    </p>
    <h2 class="content-subtitle">
      PROPIEDAD DEL CONTENIDO QUE USTED PUBLIQUE.
    </h2>
    <p class="content-paragraph">
      Si usted publica algún contenido en la página, tal como una solicitud de
      oración, una respuesta a una solicitud de oración, o un testimonio, usted
      nos otorga a nosotros una licencia irrevocable no exclusiva y libre del
      pago de regalías para desplegar la publicación en la página y utilizar tal
      contenido para cualquier propósito que consideremos apropiado. Aunque
      usted sea el dueño del contenido de su publicación, nosotros podremos usar
      su publicación según estimemos conveniente, y no estaremos bajo ninguna
      obligación a acatar sus deseos con respecto a la remoción o modificación
      de su publicación. USO NO AUTORIZADO DE DERECHOS DE AUTOR (COPYRIGHT) Y
      MARCAS COMERCIALES. Usted no puede utilizar ninguna de las marcas o
      imágenes comerciales de Enlace (incluyendo sin limitación, el logotipo o
      nombre de Enlace o Enlace+) sin nuestro consentimiento previo por escrito.
      Estos no pueden ser utilizados en relación con ningún producto o servicio,
      sea o no de naturaleza religiosa, de cualquier forma que pueda causar
      confusión entre los visitantes a la página web o al público en general, o
      de cualquier forma que menosprecie o desacredite a Enlace, a cualquiera de
      nuestros proveedores de contenido, o al evangelio cristiano. Todas las
      otras marcas comerciales que aparezcan en la página web, incluyendo las
      que estén asociadas al contenido creado por ministros u organizaciones
      religiosas y de los autores de libros digitales, son propiedad de sus
      respectivos dueños, los cuales pueden o no estar afiliados a Enlace.
    </p>
    <h2 class="content-subtitle">SU CUENTA.</h2>
    <p class="content-paragraph">
      Usted podría necesitar su propia cuenta Enlace+ para acceder a cierto
      contenido, para publicar peticiones de oración o testimonios, o para
      realizar compras. Usted es el responsable de mantener la confidencialidad
      de su cuenta y contraseña y de restringir acceso a su cuenta, y usted
      acepta y asume la responsabilidad de todas las actividades que ocurran
      bajo su cuenta o contraseña.
    </p>
    <p class="content-paragraph">
      SU PRIVACIDAD. Por favor refiérase a nuestra Política de Privacidad para
      ver una descripción de la información que recabamos respecto a usted y
      cómo utilizamos dicha información. También, considere que al publicar en
      la sección de Oración, está accediendo a que su primer nombre, bandera de
      país de residencia, avatar personal y material publicado sea visto y leído
      por cualquier persona visitando el sitio, y que los demás usuarios podrán
      publicar reacciones y comentarios relacionados a su contenido. No publique
      ningún contenido que desea que se mantenga confidencial o privada, y no
      publique contenido si no desea que otros usuarios puedan reaccionar o
      comentar sobre esas publicaciones.
    </p>
    <h2 class="content-subtitle">DIRECTRICES PARA PUBLICAR CONTENIDO.</h2>
    <p class="content-paragraph">
      Usted puede publicar peticiones de oración, respuestas a las peticiones de
      oración, testimonios y otro contenido donde la página se lo sugiera.
      Ninguna publicación podrá incluir contenido que sea falso, difamatorio,
      ilegal, obsceno, odioso, racista, violento, ofensivo al evangelio
      cristiano, o que suplante a otro individuo o que sea propiedad de un
      tercero y publicado sin el consentimiento del dueño. Ninguna publicación
      podrá consistir de cualquier material no pertinente a los propósitos
      religiosos o caritativos de la página, tales como material que anuncie
      cualquier tipo de negocio, que promueva bienes o servicios para la venta,
      que apoye o se oponga a cualquier candidato a un cargo público, o que
      consista de cartas en cadena o correos masivos u otras formas de “spam”.
      Enlace se reserva el derecho de remover cualquier publicación en cualquier
      momento y por cualquier motivo, sin aviso. Al publicar cualquier material,
      usted le garantiza y declara a Enlace que usted es dueño del material y
      está legalmente autorizado a publicarlo, que dicho material cumple con las
      directrices ya mencionadas, y que usted está de acuerdo en mantener
      inofensivo e indemnizar a Enlace y a sus directores, oficiales, empleados
      y agentes de y contra cualquier obligación que resulte directa o
      indirectamente de la publicación.
    </p>
    <h2 class="content-subtitle">RENUNCIA / MANTENER INOFENSIVO.</h2>
    <p class="content-paragraph">
      Las opiniones expresadas en cualquier material publicado en la página y
      cualquier contenido presente en la página, incluyendo sin limitación,
      cualquier programación religiosa, vídeos, audios, artículos, blogs,
      oportunidades de oración, información de ministerios y eventos y demás
      recursos digitales, son los puntos de vista de sus respectivos autores y
      no necesariamente reflejan los puntos de vista de Enlace Christian
      Television. Los proveedores de bienes y servicios (en adelante,
      “vendedores”) que aparecen en la lista de las “Comunidad de Productos y
      Servicios” no son revisados, examinados o endosados por Enlace. Éstos
      aparecen como una lista de conveniencia a los visitantes de la página,
      pero usted y cualquier otra persona que revise la “Comunidad de Productos
      y Servicios” debe realizar su propia evaluación de la idoneidad del
      vendedor antes de comprar sus productos o abordarlos para procurar la
      prestación de cualquier servicio.
    </p>
    <p class="content-paragraph">
      NOSOTROS NO GARANTIZAMOS QUE LAS FUNCIONES CONTENIDAS EN ESTA PÁGINA WEB
      SEAN SIN INTERRUPCIÓN O LIBRES DE ERRORES, QUE LOS DEFECTOS SERÁN
      CORREGIDOS, O QUE ESTA PÁGINA WEB O EL SERVIDOR QUE LA HACE DISPONIBLE
      ESTÉN LIBRES DE VIRUS Y OTROS COMPONENTES DAÑINOS.
    </p>
    <p class="content-paragraph">
      ESTA PÁGINA Y SU CONTENIDO SE PROVEE “TAL COMO APARECE” Y “TAL COMO ESTÁ
      DISPONIBLE” Y SIN GARANTÍAS DE NINGÚN TIPO, YA SEA EXPRESADAS O
      IMPLÍCITAS. EN LA MÁXIMA MEDIDA PERMITIDA BAJO LAS LEYES VIGENTES
      APLICABLES, NOSOTROS RECHAZAMOS TODA GARANTÍA, EXPRESADA O IMPLÍCITA,
      INCLUYENDO, PERO SIN LIMITACIÓN, GARANTÍAS DE TÍTULO Y GARANTÍAS
      IMPLÍCITAS DE COMERCIABILIDAD Y APTITUD PARA UN PROPÓSITO EN PARTICULAR
      CON RESPECTO A LA PÁGINA WEB Y A TODO EL CONTENIDO INCLUIDO EN O ABORDADO
      DESDE LA PÁGINA WEB.
    </p>
    <h2 class="content-subtitle">MANTENER INOFENSIVO.</h2>
    <p class="content-paragraph">
      Al acceder a la página y observar su contenido, usted acepta conforme que
      el uso que usted le dé a la misma cae bajo su propio y único riesgo, y
      usted exonera de todo reclamo a Enlace y/o sus directores, oficiales y
      agentes, que pueda surgir directa o indirectamente de su uso de la página
      web o su contenido, incluyendo sin limitación, cualquier reclamo de uso no
      autorizado de materiales o marcas comerciales; cualquier reclamo por daño
      a su computador, red, base de datos; y cualquier reclamo producto de su
      uso o consumo de cualquier contenido de la página, incluyendo sin
      limitación cualquier programa, grabación, artículo, blog, sermón, o libro
      digital.
    </p>
    <p class="content-paragraph">
      Además, usted acepta y concuerda que NOSOTROS NO TENDREMOS RESPONSABILIDAD
      ANTE USTED NI ANTE NINGUNA OTRA PERSONA O ENTIDAD POR CUALQUIER DAÑO
      GENERAL, PUNITIVO, ESPECIAL, DIRECTO, INDIRECTO, CONSECUENTE O FORTUITO, O
      POR PÉRDIDA DE GANANCIAS O CUALQUIER OTRO TIPO DE DAÑOS, COSTOS O PÉRDIDAS
      QUE SURJAN DEL USO SUYO DE LA PÁGINA WEB O CUALQUIER PARTE DE SU CONTENIDO
      INCLUIDO EN ELLA O ABORDADO POR MEDIO DE ELLA O COMO RESULTADO DE LA
      MISMA, AUNQUE ENLACE FUERA EN REALIDAD O SUPUESTAMENTE NEGLIGENTE Y AUNQUE
      ENLACE O CUALQUIERA DE SUS DIRECTORES, OFICIALES, EMPLEADOS O AGENTES
      FUERAN INFORMADOS DE LA POSIBILIDAD DE TAL RECLAMO.
    </p>
    <h2 class="content-subtitle">REVISIONES.</h2>
    <p class="content-paragraph">
      Enlace se reserva el derecho de cambiar estos Términos de Uso en cualquier
      momento y sin aviso. Por lo tanto, por favor revise si han habido cambios
      en estos Términos cada vez que utilice el sitio. Si usted continúa
      utilizando la página y/o cualquier parte de su contenido luego de publicar
      los cambios a estos Términos de Uso, esto constituirá una aceptación suya
      de tales cambios. Si alguna provisión de los Términos de Uso fuera ilegal,
      nula, o inaplicable, ya sea total o parcialmente, las provisiones
      restantes no se verán afectadas.
    </p>
    <h2 class="content-subtitle">LEY QUE RIGE.</h2>
    <p class="content-paragraph">
      Estos Términos de Uso se regirán por las leyes del Estado de Texas,
      Estados Unidos de América, quedando sin efecto cualesquiera principios de
      conflictos de ley. Cualquier acción para hacer cumplir dichos Términos de
      Uso o asuntos relacionados con esta página será presentada ya sea en las
      cortes estatales o federales ubicadas en Tarrant County, Texas, y usted
      concuerda por este medio y se somete a la jurisdicción personal de dichas
      cortes para propósitos de litigio de tales acciones.
    </p>
  </div>
</div>
