<div class="container-faq">
  <div class="content-container">
    <h1 class="content-title mt-5">
      Preguntas Frecuentes EN USUARIOS DE ENLACE+
    </h1>
    <h2 class="content-subtitle mt-5">
      ¿POR QUÉ YA NO PUEDO INGRESAR CON MIS REDES SOCIALES: FACEBOOK, GOOGLE O
      MI CUENTA DE APPLE?
    </h2>
    <p class="content-paragraph">
      Como un esfuerzo para asegurar los datos de cada usuario que se registra
      en Enlace+, hemos trabajado en la implementación de un nuevo formulario de
      registro e Inicio de sesión el cual no incluye ningún registro social.
      ¿Qué significa esto? Anteriormente como usuario tenías la posibilidad de
      registrarte o iniciar sesión por medio de Facebook, Google o Apple. Esto
      te permitía usar el mismo acceso que usabas en dichas redes sociales.
    </p>
    <p class="content-paragraph">
      En busca de mantener la seguridad y almacenamiento de tus datos de una
      forma unificada, nos dimos a la tarea de cambiar y a la vez simplificar el
      acceso a solamente un correo electrónico. Es decir, en los próximos meses
      todos los usuarios tendrán que ingresar a su cuenta de Enlace+, solamente
      por medio de un correo electrónico. Los accesos sociales mencionados
      anteriormente quedarán inhabilitados, e inclusive ya no se mostrarán a la
      hora de hacer un nuevo registro, o iniciar sesión.
    </p>
    <h2 class="content-subtitle">¿QUÉ PASARÁ CON MI CUENTA ANTERIOR?</h2>
    <p class="content-paragraph">
      Es importante considerar esta salvedad: los usuarios que antes utilizaban
      una red social para ingresar a Enlace+, podrán utilizar el mismo correo
      electrónico que usan para esa red social, para ingresar a Enlace+, sin
      embargo, deberán validar algunos datos de su cuenta, así como asignar una
      nueva contraseña. A este proceso le denominamos validación de tu cuenta.
      Solo te tomará unos breves minutos hacerlo y es bajo la premisa de un
      mejor control de tus datos.
    </p>
    <p class="content-paragraph">
      Vale la pena destacar que los contenidos que hayas visto, los Ministerios,
      Programas o Personas que sigas, el plan al que te hayas suscrito o
      inclusive descargas que hayas hecho, estarán asociados siempre al usuario
      con el que hayas hecho la validación por correo electrónico. Sabemos que
      este proceso podría resultar complicado para algunos, y por ello contamos
      con múltiples canales de ayuda o información para ayudarte en este proceso
      si tuvieras algún contratiempo.
    </p>
    <h2 class="content-subtitle">
      ¿CÓMO ME ASEGURO DE QUE ESTOY VALIDANDO MI CUENTA?
    </h2>
    <p class="content-paragraph">
      Como parte del proceso de validación de tu cuenta, recibirás una serie de
      correos electrónicos que te guiarán paso a paso en este proceso. El
      resultado al final que esperamos es que puedas iniciar sesión utilizando
      solamente tu correo electrónico.
    </p>
    <h2 class="content-subtitle">
      ¿QUÉ PASA SI YA TENÍA UNA CUENTA CON CORREO ELECTRÓNICO, DEBO TAMBIÉN
      VALIDAR MI CUENTA DE NUEVO?
    </h2>
    <p class="content-paragraph">
      Sí, como parte de un proceso de seguridad, necesitamos que aunque tu
      cuenta esté asociada a un correo electrónico (y no un registro social),
      validar los datos de tu cuenta y por ello también es necesario realizar el
      proceso de validación.
    </p>
    <h2 class="content-subtitle">
      ¿QUÉ PASARÁ CON LA SUSCRIPCIÓN QUE YA TENÍA?
    </h2>
    <p class="content-paragraph">
      Al momento de realizar la validación correcta de tu cuenta, hacia el
      registro por correo electrónico, toda la información de tu cuenta de
      registro social, será traspasada a tu cuenta validada. No te preocupes,
      tus datos no se perderán y si llega a existir alguna confusión al
      respecto, siempre puedes escribir a soporte@enlace.plus para que te ayuden
      en casos de duda.
    </p>
    <h2 class="content-subtitle">
      ¿QUÉ PASARÁ CON LA INFORMACIÓN DE MIS FAVORITOS, SEGUIDOS, MI LISTA,
      ADQUISICIONES Y OTRAS PREFERENCIAS?
    </h2>
    <p class="content-paragraph">
      Nuestro compromiso como parte del proceso de validación de todas las
      cuentas, es asegurarnos que la información de tu registro anterior quede
      en tu cuenta validada. Si llegase a existir alguna discrepancia puedes
      comunicarte por cualquiera de los medios existentes con nosotros.
    </p>
    <h2 class="content-subtitle">
      ¿QUÉ HAGO SI NO TENGO ACCESO AL CORREO ASOCIADO A MI CUENTA ANTERIOR?
    </h2>
    <p class="content-paragraph">
      Si este es tu caso deberás crear primeramente una cuenta nueva, con un
      nuevo correo electrónico y posterior a esto comunicarte con nuestro equipo
      de soporte@enlace.plus para poder transferir la información de tu cuenta
      anterior a tu nueva cuenta.
    </p>
    <h2 class="content-subtitle">
      TUTORIAL: ¿Cómo realizar la migración de tu cuenta?
    </h2>
    <p class="content-paragraph">
      <video width="100%" height="100%" controls>
        <source
          src="https://cdn.jwplayer.com/videos/3f493pOc-MWipTQr7.mp4"
          type="video/mp4"
        />
      </video>
    </p>
  </div>
</div>
