:root {
  --transparent: #ffffff00;
  --black: #000000;
  --white: #FFFFFF;
  --purple: #6C00C0;
  --purple-2: #8B00F5;
  --purple-3: #BD66FF;
  --lila: #5A6CB2;
  --lila-2: #809AFF;
  --lila-3: #BECBFF;
  --green: #00EBC0;
  --green-2: #00EBC0;
  --orange: #FF6F05;
  --blue: #335CFF;
  --celeste: #15C0F4;
  --red: #F53D55;
  --yellow: #F9B000;
  --pink: #FF7385;
  --gray: #808080;
  --gray-2: #969696;
  --neutro: #0A1229; // Chinase Black
  --neutro-2: #161D33; // Dark Gunmetal
  --neutro-3: #1F2947; // Yankees Blue
  --neutro-4: #667399;
  --neutro-5: #DEE2ED;
  --neutro-6: #33416C;

  --rich-black: #060E1E;
  --dark-charcoal: #333333;
  --smoky-black: #0D0D0D;
  --space-cadet: #28324F;
  --dark-gunmetal: #2B2719;
  --purple-navy: #4B5881;
  --gainsboro: #DADADA;
  --spanish-gray-2: #6C757D; //disabled;
  --chinase-silver: #CCCCCC;
  --ucla-blue: #5B699A;
  --cyan: #0AAEDE;
  --anti-flash-white: #F2F3F7;
  --glaucous: #687AB3;

  --black-rgb: 0, 0, 0;
  --white-rgb: 255, 255, 255;
  --rich-black-rgb: 1, 18, 30;
  --smoky-black-rgb: 13, 13, 13;
  --rich-black-rgb2: 6, 14, 30;
  --purple-navy-rgb: 75, 88, 129;
}
