:root {
  --transparent: #ffffff00;
  --black: #000000;
  --white: #FFFFFF;
  --purple: #6C00C0;
  --purple-2: #8B00F5;
  --purple-3: #BD66FF;
  --lila: #5A6CB2;
  --lila-2: #809AFF;
  --lila-3: #BECBFF;
  --green: #00EBC0;
  --green-2: #00EBC0;
  --orange: #FF6F05;
  --blue: #335CFF;
  --celeste: #15C0F4;
  --red: #F53D55;
  --yellow: #F9B000;
  --pink: #FF7385;
  --neutro: #0A1229;
  --neutro-2: #161D33;
  --neutro-3: #1F2947;
  --neutro-4: #667399;
  --neutro-5: #DEE2ED;
  --neutro-6: #33416C;

  --space-cadet: #28324F;
  --purple-navy: #4B5881;
  --spanish-gray-2: #6C757D;
  --ucla-blue: #5B699A;
  --cyan: #0AAEDE;
  --anti-flash-white: #F2F3F7;
  --glaucous: #687AB3;

  --black-rgb: 0, 0, 0;
  --rich-black-rgb: 1, 18, 30;
  --purple-navy-rgb: 75, 88, 129;
}
