* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

html {
  height: 100vh;
}

body {
  height: 100vh;
  font-family: var(--lato-font);
  font-size: var(--f-14);
  background-color: var(--dark-gunmetal);
  background-image: url(/assets/images/bg/bg-body.jpg);
  background-attachment: fixed;
  background-position: top;
  background-size: 100%;
}

label {
  max-width: 100%;
  width: 100%;
  margin-bottom: 5px;
  color: var(--white);
  text-align: start;
  font-weight: 300;
}

button {
	background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  border-color: var(--transparent);
  box-shadow: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  &.btn-primary {
    border-color: var(--transparent);
    &:focus {
      box-shadow: none;
      border-color: var(--transparent);
    }
    &:disabled {
      border-color: var(--transparent);
    }
    &:active:focus {
      box-shadow: none;
    }
  }
}

.input-group-text {
  background-color: transparent;
}

.invalid-feedback {
  display: block;
  color: var(--orange);
  text-align: start;
  font-size: var(--f-14);
}

.isotipo {
  display: block;
  width: 24px;
  height: 24px;
  margin-right: 7px;
  background-image: url('/assets/images/isotipo.png');
  background-size: 100%;
  background-repeat: no-repeat;
  cursor: pointer;
}
